body {
    background: white;
}

h2 {
    text-align: center;
    font-variant: small-caps;
}

#start {
    max-width: 50em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.5em;
    color: #092B54;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.restart:hover {
    cursor: pointer;
    border-radius: 50%; 
}

.gameBoard {

    background: burlywood;
 
    min-width: 37.5rem;
    max-width: 75rem;
    
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;

    margin: 2em;
    padding: 2em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;

    position: absolute;

}

.card {
    background: rgb(175, 160, 130);
    width: 12.5rem;
    padding: 0.9375rem 2rem;

    border: 1px solid black;
    border-radius: 0.5em;

    cursor: pointer;

    position: relative;
}

.card-front {
    display: flex;
    flex-direction: column-reverse;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(25, 38, 83);
    background: rgb(203, 219, 236);
    max-width: 12.5em;
    padding: 1rem;
    border: 10px solid rgb(25, 38, 83);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(26,78,125,0.7); 
    box-shadow: 5px 5px 10px 0px rgba(26,78,125,0.7);
    border-radius: 0.5em;

    position: relative;
}

.card-image {
    max-width: 100%;
    background: whitesmoke;
    /* margin: 0.5px 0; */
    border: 1px solid rgb(25, 38, 83);

}

.card-back {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgb(25, 38, 83);
    max-width: 12.5em;
    margin: 1.5px 0;
    border: 1px solid rgb(25, 38, 83);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(26,78,125,0.7); 
    box-shadow: 5px 5px 10px 0px rgba(26,78,125,0.7);
    border-radius: 0.5em;

    position: relative;
}

/* .card-back:hover {
    transform: translateY(-2px);
} */

.disabled {
    pointer-events: none;
}