body {
    background: white;
}
h2 {
    text-align: center;
}

#start {
    max-width: 75em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restart:hover {
    cursor: pointer;
    border-radius: 50%; 


}

.gameBoard {

    background: burlywood;

    min-width: 37.5rem;
    max-width: 75rem;
    
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;

    margin: 2em;
    padding: 2em 0.5em;
    border: 2px solid black;
    border-radius: 0.25em;

    position: absolute;

}

.card {
    background: rgb(90, 135, 135);
    width: 12.5rem;
    padding: 1rem 2rem;

    border: 1px solid black;
    border-radius: 0.5em;

    cursor: pointer;

    position: relative;
}

.cardFront {
    display: flex;
    flex-direction: column;


    background: yellow;
    width: 300px;
    padding: 1rem;

    position: absolute;
}

.card-image {
    max-width: 95%;
}

.card-back {
    max-width: 100%;
}

.cardBack {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: blue;
    max-width: 300px;

    position: absolute;
}

